.paginationButtons{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}


.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    font-size: large;
}


.paginationLink{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    margin-bottom: 50px;
    margin: 10px;
}