/* .conteiner {
    background: rgb(179, 179, 179);

}
.conteiner2 {
    background-color: grey;
} */
.card{
    width: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgb(25, 25, 25), -10px -15px 30px rgb(60, 60, 60);
    display:inline-block;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 400ms ease;
    background-color:#5e2c59;
}

.image {
  width: 100%;
  border-radius: 8px;
  cursor : pointer;
}


.info {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
}
