.conteiner {
  background-color: bisque;
  height: 400px;
  width: 600px;
  padding: 30px;
  margin-left: 400px;
}

.buttonConteiner {
  height: 40px;
  width: 250px;
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.button {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

.button button {
  height: 80%;
  width: 50%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(182, 182, 182, 0.589);
  font-size: 15px;
}

.titleH3{
  
}