body {
background-image: url(../../Client/src/Image/176452.alfabetajuega-wallpapers-1-060117.webp);
background-repeat: no-repeat;
background-size: 100%;
background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100vw;
  min-height: 100vh;
 
}

* {
  box-sizing: border-box;
  margin: 0;
}
