.Allselect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccb2ca;
  
}

.All {
  background-color: #4a0644;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 30px;
}

.btnCreated {
  background-color: #4a0644;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 50px;
  margin-left: 400px;
}
.links {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
