.title {
  color: red;
}

.image {
  background-image: url("../../Image/176452.alfabetajuega-wallpapers-1-060117.webp");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home {
  background-color: #bea4bc;
  
}

.select {
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #61195a;
  color: whitesmoke;
  padding: 10px;
  width: 15%;
  border: none;
}

.button {
  background-color: #bea4bc;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 15px;
}

.links :hover {
  background-color: #900b84;
}
