.search {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.input {
  background-color: white;
  outline: none;
  height: 20px;
  padding: 1 50px;
  
}

.searchButton {
  background-color: #4a0644;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 10px;
  
}
