.conteiner {
  background-color: rgba(0, 0, 0, 0.781);
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.titleH1 {
  color: rgb(182, 182, 182);
  padding: 20px;
}
.titleh2 {
  color: rgb(182, 182, 182);
  margin-left: 20px;
  padding: 10px;
}

.list {
  list-style: none;
}

.input {
  margin-bottom: 20px;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  position: relative;
  color: rgb(182, 182, 182);
}

.input input {
  border-radius: 5px;
  border: none;
  height: 80%;
  width: 70%;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}

.buttonConteiner {
  height: 40px;
  width: 250px;
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.button {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

.button button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(182, 182, 182);
  font-size: 16px;
}

/* .button button:hover {
  background-color: rgba(182, 182, 182, 0.664);
} */

.errorcito {
  position: absolute;
  bottom: -15px;
  left: 32%;
}

.conteinerGenres {
  display: flex;
  align-items: center;
  color: rgb(182, 182, 182);
  margin-left: 10px;
  font-size: 20px;
}

.buttonX {
  border: none;
  background-color: rgb(182, 182, 182);
  width: 20px;
  height: 20px;
}

.p {
  margin-right: 5px;
}

.conteinerSelect {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.buttonCreated {
  height: 40px;
  width: 121px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(182, 182, 182);
  font-size: 16px;
  border: none;
}


